# pixi environments
.pixi/*
!.pixi/config.toml

# pycache
__pycache__/

# env
.env

# ipynb checkpoints
.ipynb_checkpoints/

# .egg-info
*.egg-info/

prototyping.ipynbreference_data/
reference_data/
reference_data/
